.App1 {
  text-align: center;
  display: flex;
  height: 100rem;
 
  margin-right: 30px;
}
.hh {
  width: 100%;
  height: max-content;
  background-color: #eeeeee;
  padding: 20px 5%;
  flex-grow: 1;
  overflow: auto;
}
