
input[type="search"] {
    height: 38px;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    border: none;
    background-color: #eeeeee;
}
.cont {
    position: relative;
}
.cont svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
    position: absolute;
    right: 10px;
    top: 8px;
}
.article {
    margin: 38px;
    padding: 10px 3px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px #00000054;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.arcontainer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.arcontainer svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
    height: 28px;
    width: 28px;
    color: #9E9E9E;
}
.arcontainer svg:hover
{
    transform: scale(1.08);
}
.article h3 {
    margin: 7px;
    margin-left: 40px;
}
.article img {
    width: 200px;
    height: 150px;
    object-fit: contain;
    margin: 10px;
}
.style
{
    display: none;
}

.Expertform {
    display: none;
}

.container1{
    display: flex;
    margin-left: 310px;
    margin-right: 50px;
}
.content0 {
    height:auto;
    padding: 8px;
    width: 100%;
    font-family: "Source Sans Pro", sans-serif;
}
button {
    color: #1E88E5;
    font-weight: 700;
}
h3 {
    margin: 0px;
    font-family: system-ui;
    font-size: 20px;
}
img.MuiCardMedia-root.MuiCardMedia-media.MuiCardMedia-img.css-o69gx8-MuiCardMedia-root {
    height: 140px;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.css-1qr0z6b-MuiPaper-root-MuiCard-root {
    margin: 20px 30px;
    height: auto;
    width: 300px;
}
.MuiCardActions-root.MuiCardActions-spacing.css-1t6e9jv-MuiCardActions-root {
    justify-content: space-between;
    padding: 2px 10px;
}
.container2 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto auto;
    gap: 1px;
}

.box:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .box:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  .box:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  .scroll {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.scroll svg {
    height: 35px;
    width: 35px;
}
.bton {
    display: flex;
    justify-content: flex-start;
    margin: 20px 30px;
}